// COLOR
$color-primary: #6EBDEE; 
$color-secondary: #000000;
$color-tertiary: #FFF8E8;
$color-error: #ED4337;
$light: white;

// FONT 
$font: 'Poppins';
$title: 32px;
$title2: 28px;
$body: 16px;
$caption: 14px;

// RESPONSIVE
$mobile: 768px;
$tablet: 1024px;

// DIMENSION
$dimension-none: 0;
$dimension-tiny: 8px;
$dimension-small: 16px;
$dimension-default: 24px;
$dimension-medium: 32px;
$dimension-large: 64px;

